@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');

.formulario {
    background-color: $form;
    padding: 10px;
    padding-left: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
}

.enviar {
    background-color: rgb(0, 255, 0);
    color: white;
    margin-top: 5px;
    margin-left: 30px;
}

.cancelar {
    background-color: red;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

.texto-contacto{
    font-family: 'Roboto', sans-serif;
}

.texto-contacto h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 15px;
}


#cons{
    margin-top: 10px;
}