.formulario {
    background-color: $form
}

.enviar {
    background-color: rgb(0, 255, 0);
    color: white;
    margin-top: 5px;
}

.cancelar {
    background-color: red;
    color: white;
    margin-top: 5px;
}

.texto-contacto{
    margin: 10px;
}