.footer__settings{
    background-color: $principal;
    flex-direction: column;
    margin-top: ($px)-50;
    margin-bottom: ($px)-50;
}

.footer-pags{
    background-color:#ffd271a8;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 35px;
    margin-top: 50px;
    margin-bottom: 0;
}

.footer__img{
    position: fixed;
    bottom: ($px)-20;
    right: ($px)-50;
    width: auto;
}

.footer__ig{
    text-align: center;
    width: 80px;
    margin-top: 7px;
}

.footer__ig2{
    width: 60px;;
}

.c-1{
    margin: 0 10px 10px 10px;
    background-color: #ffd271a8;
}

.c-2{
    margin: 10px 10px;
    background-color: #ffd271a8;
}

.m-pago{
    list-style: none;
}

.c-3{
    margin: 10px 10px 0 10px;
    background-color: #ffd271a8;
}