.contenedor-productos {
    max-width: ($px)+1100;
    margin: ($px)-40 auto;
    display: $d-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.producto {
    max-width: ($px)+100;
    padding: ($px)-92;
    margin: $marginprod;
    box-shadow: $boxshadow;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

.img-productos{
    width: 100%;
    margin-bottom: ($px)-90;
}

.stock{
    margin: 10px 0px 0 38px;
}

.id{
    text-align: left;
}